In [2]:
import pandas as pd

In [3]:
movies = pd.read_csv('C:\\Users\\Dmitry\\Documents\\Учеба\\5 Аналитика Big Data\\5.12 Итоговая работа\\uitem.csv', sep='|', encoding = 'Windows-1251')

In [4]:
movies.columns = ['movie_id', 'movie_title', 'release_date', 'video_release_date', 'IMDb_url', 'unknown', 'action', 'adventure', 'animation', 'childrens', 'comedy', 'crime', 'documentary', 'drama', 'fantasy', 'film_noir', 'horror', 'musical', 'mystery', 'romance', 'sci_fi', 'thriller', 'war', 'western']

In [5]:
movies.head()

,movie_id,movie_title,release_date,video_release_date,IMDb_url,unknown,action,adventure,animation,childrens,...,fantasy,film_noir,horror,musical,mystery,romance,sci_fi,thriller,war,western
0,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,6,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,01-Jan-1995,NaN,http://us.imdb.com/Title?Yao+a+yao+yao+dao+wai...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
ratings = pd.read_csv('C:\\Users\\Dmitry\\Documents\\Учеба\\5 Аналитика Big Data\\5.12 Итоговая работа\\u.data.csv', sep ='\t')

In [7]:
ratings.columns = ['user_id', 'movie_id', 'rating', 'timestamp']

In [8]:
ratings.head()

   user_id  movie_id  rating  timestamp
0      186       302       3  891717742
1       22       377       1  878887116
2      244        51       2  880606923
3      166       346       1  886397596
4      298       474       4  884182806

#### 2. Пользователь с наибольшим числом оценок

In [9]:
ratings.groupby('user_id').count().sort_values('rating', ascending = False).reset_index().head()

   user_id  movie_id  rating  timestamp
0      405       737     737        737
1      655       685     685        685
2       13       636     636        636
3      450       540     540        540
4      276       518     518        518

#### 3. df ratings только с фильмами, которые оценил самый активный пользователь

In [10]:
ratings405 = ratings[ratings['user_id'] == 405]
ratings405.head()

       user_id  movie_id  rating  timestamp
12275      405        56       4  885544911
12382      405       592       1  885548670
12429      405      1582       1  885548670
12448      405       171       1  885549544
12459      405       580       1  885547447

####  4. Добавление столбцов

In [11]:
# общее количество оценок фильмов
num_rating = ratings.groupby('movie_id').count().reset_index()[['movie_id', 'rating']]
num_rating = num_rating.rename(columns = {'rating' : 'num_of_ratings'})
num_rating.head()

   movie_id  num_of_ratings
0         1             452
1         2             131
2         3              90
3         4             209
4         5              86

In [12]:
# суммарная оценка от всех пользователей
sum_rating = ratings.groupby('movie_id').sum().reset_index()[['movie_id', 'rating']]
sum_rating = sum_rating.rename(columns = {'rating' : 'sum_of_ratings'})
sum_rating.head()

   movie_id  sum_of_ratings
0         1            1753
1         2             420
2         3             273
3         4             742
4         5             284

In [13]:
ratings405_joined = ratings405.merge(num_rating, how='left', on='movie_id').merge(sum_rating, how='left', on='movie_id').merge(movies, how='left', on='movie_id')[['user_id', 'rating', 'movie_id', 'num_of_ratings', 'sum_of_ratings', 'unknown', 'action', 'adventure', 'animation', 'childrens', 'comedy', 'crime', 'documentary', 'drama', 'fantasy', 'film_noir', 'horror', 'musical', 'mystery', 'romance', 'sci_fi', 'thriller', 'war', 'western']]
ratings405_joined.head()

,user_id,rating,movie_id,num_of_ratings,sum_of_ratings,unknown,action,adventure,animation,childrens,...,fantasy,film_noir,horror,musical,mystery,romance,sci_fi,thriller,war,western
0,405,4,56,394,1600,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,405,1,592,9,30,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
2,405,1,1582,1,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,405,1,171,65,252,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,405,1,580,32,108,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

#### 5. Сформируйте X_train, X_test, y_train, y_test

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train, x_test, y_train, y_test = train_test_split(ratings405_joined[['movie_id', 'num_of_ratings', 'sum_of_ratings', 'unknown', 'action', 'adventure', 'animation', 'childrens', 'comedy', 'crime', 'documentary', 'drama', 'fantasy', 'film_noir', 'horror', 'musical', 'mystery', 'romance', 'sci_fi', 'thriller', 'war', 'western']], ratings405_joined['rating'], test_size = 0.3)

#### 6. Возьмите модель линейной регрессии (или любую другую для задачи регрессии)  и обучите ее на фильмах

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
model = LinearRegression()

In [18]:
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

#### 7. Оцените качество модели на X_test, y_test при помощи метрик для задачи регрессии

In [19]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [20]:
# в идеале должно быть 0
mean_squared_error(y_test, model.predict(x_test))

1.1960285255081415

In [21]:
# в идеале должно быть 1
r2_score(y_test, model.predict(x_test))

0.38163453221493804

In [22]:
# в идеале должно быть 0
mean_absolute_error(y_test, model.predict(x_test))

0.8162241232780465

Судя по оценкам качества, модель получилась плохая

#### Средняя оценка по жанрам (задание из части со Spark)

In [38]:
joined = ratings.merge(movies, on = 'movie_id', how = 'left')[['movie_id', 'rating', 'unknown','action','adventure','animation','childrens','comedy','crime','documentary','drama','fantasy','film_noir','horror','musical','mystery','romance','sci_fi', 'thriller','war','western']]
joined.head()

,movie_id,rating,unknown,action,adventure,animation,childrens,comedy,crime,documentary,...,fantasy,film_noir,horror,musical,mystery,romance,sci_fi,thriller,war,western
0,302,3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,377,1,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,51,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
3,346,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,474,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [62]:
for genre in list(joined)[2:22]:
    avg = joined[joined[genre] == 1]['rating'].mean()
    print(genre), print(round(avg,1))

unknown
3.2
action
3.5
adventure
3.5
animation
3.5
childrens
3.3
comedy
3.4
crime
3.6
documentary
3.7
drama
3.7
fantasy
3.2
film_noir
3.9
horror
3.3
musical
3.5
mystery
3.6
romance
3.6
sci_fi
3.6
thriller
3.5
war
3.8
western
3.6